{{ define "main" }}
<article>
  {{ if not .Params.menu }}
  <h1>{{ .Title }}</h1>
  <p class="byline">
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
    </time>
    {{ with .Params.author }}· {{ . }}{{ end }}
    · {{ .ReadingTime }} min read
  </p>
  {{ end }}
  <content>
    {{ .Content }}
  </content>
  <p class="post-tags">
    {{ range (.GetTerms "tags") }}
      <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
    {{ end }}
  </p>
</article>
{{ end }}
